a {
    text-decoration: none;
    color: tomato;
    font-size: large;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    color: yellow;
    font-weight: bold;
}

ul {
    list-style-type: none;
    background-color: turquoise;
}

li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    width: fit-content;
}

input:focus {
    background-color: skyblue;
}

table tr th {
    background-color: springgreen;
    color: violet;
    font-size: 150%;
}

table tr td.options {
    width: 20%;
}

table {
    margin: 50px 20%;
}

form fieldset legend {
    color: red;
    font-weight: bold;
    margin: 20px 30%;
}

form {
    margin: 50px 20%;
}